@model Usuario
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{ 
    Usuario u = JsonConvert.DeserializeObject<Usuario>(Context.Session.GetString("user").ToString());
}



                <p class="nome">@u.Nome</p>
                <p class="nome">@u.Cpf</p>
                <p class="nome">@u.Telefone</p>
                <p class="nome">@u.Senha</p>
                <p class="nome">@u.Tipo</p>
 




