@model IEnumerable<Produto>
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/19a96cf4ea.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/carrinho.css" />
    <title>Bagaço - Carrinho</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="~/Views/Produto/ProdutosCliente.cshtml" id="logo">BAGAÇO</a>
        </div>

        <nav>
            <a href="" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>
            @if (Context.Session.GetString("user") != null)
            {
                <a href="~/home/index" class="nav-link">Sair</a>
            }
        </nav>
    </header>

    <div class="container">

        @{ 
            double total = 0;
            int aux = 0;
         }

        <div class="container-txt">
            <p>SUAS COMPRAS</p>
        </div>
        <ul class="produtos">
            @foreach (Produto p in Model)
            {
                string formato = "data:image/jpeg;base64," + Convert.ToBase64String(p.Img);

                <form method="post" asp-action="SalvarCarrinho">
                    <li>
                        <div class="info-produto">
                            <img src="@formato" id="img">
                            <div>
                                <p class="nome">Nome: @p.Nome</p>
                                <p class="descricao">Descrição: @p.Descricao</p>
                                <p class="preco">Preço: @p.Preco</p>

                                @* salva a quantidade do produto no input *@
                                <button class="salvarDados" value="Salvar"> Salvar </button>
                            </div>
                        </div>

                        <div class="combo">
                            <input type="number" name="@aux" value="@p.Qtd" maxlength="@p.Qtd" id="quantidade">
                        </div>

                    </li>
                </form>

                total += p.Preco * p.Qtd;
                aux++;
            }

            <input type="hidden" value="@aux" name="aux"/>

        </ul>
    </div>

    <div class="finalizar">
        <p class="total">Total da Compra: <span id="tot">@total</span></p>
        <div class="btns">
            @*<button class="salvarDados">@Html.ActionLink("Salvar Dados", "Carrinho", new { codigo = p.Codigo })</button>*@
            
            <button class="finalizarCompra">Finalizar Compra</button>
        </div>
    </div>

    <script>
        const preco = document.querySelector('.preco')
        const valuePreco = Number(preco.innerHTML)
        const formatarPreco = valuePreco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
        preco.innerHTML = formatarPreco

        const tot = document.querySelector('#tot')
        const valueTot = Number(tot.innerHTML)
        const formatarTot  = valueTot.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
        tot.innerHTML = formatarTot

    </script>
</body>
</html>
