@model IEnumerable<Produto>
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/19a96cf4ea.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/carrinho.css" />
    <title>Bagaço - Carrinho</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="~/Views/Produto/ProdutosCliente.cshtml" id="logo">BAGAÇO</a>
        </div>

        <nav>
            <a href="" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="" class="nav-link">Sair</a>
        </nav>
    </header>

    <div class="container">

        @{ double total = 0;}

        <div class="container-txt">
            <p>SUAS COMPRAS</p>
        </div>
        <ul class="produtos">
            @foreach (Produto p in Model)
            {
                string formato = "data:image/jpeg;base64," + Convert.ToBase64String(p.Img);

                <li>
                    <div class="info-produto">
                        <img src="@formato" id="img">
                        <div>
                            <p class="nome">@p.Nome</p>
                            <p class="descricao">@p.Descricao</p>
                            <p class="preco">@p.Preco</p>
                        </div>
                    </div>

                    <div class="combo">
                        <button class="mais" formmethod="post">+</button>
                        <input type="number" value="1" maxlength="@p.Qtd">
                        <button class="menos">-</button>
                    </div>


                    <div class="qtd-container">
                        <div class="qtd">Disponível: @p.Qtd produtos</div>
                    </div>
                </li>

                total += p.Preco * p.Qtd;
            }

        </ul>
    </div>

    <div class="finalizar">
        <p class="total">Total da Compra: @Produto.total  </p>
        <div class = "btns">
            <button class="salvarDados">Salvar Alterações</button>
            <button class="finalizarCompra">Finalizar Compra</button>
        </div>
    </div>

    <script>
        const preco = document.querySelector('.preco')
        const value = Number(preco.innerHTML)
        const formatar = value.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
        preco.innerHTML = formatar

    </script>
</body>
</html>
