@model List<Produto>
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/cliente.css">
    <title>Bagaço - Administração</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="~/produto/ProdutosCliente" id="logo">BAGAÇO</a>
        </div>
        <nav>
            <a href="~/produto/ProdutosCliente" class="nav-link">Produtos</a>
            <a href="~/Usuario/AlterarDados" class="nav-link">Alterar Dados</a>
            <a href="" class="nav-link">Compras</a>
            <div id="divider"></div>
            <a href="" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>

            @if (Context.Session.GetString("user") != null)
            {
                <a href="~/home/index" class="nav-link">Sair</a>
            }
        </nav>
    </header>

    <div class="container">
        <div class="container-txt">
            <p>PRODUTOS</p>
        </div>



        @foreach (Produto p in Model)
        {
            string formato = "data:image/jpeg;base64," + Convert.ToBase64String(p.Img);
            <div class="lista-produtos">
                <div class="produtos-card">
                    <p class="nome">@p.Nome</p>
                    <img src="@formato" alt="">
                    <div class="ver-mais">
                        <span>Ver Mais</span>
                    </div>
                </div>
            </div>

            <div class="modal-content">
                <div class="fechar">
                    <i class="fa-solid fa-xmark sair"></i>
                </div>
                <div class="modal">
                    <div class="modal-produto">
                        <p class="nomeProduto">@p.Nome</p>
                    </div>
                    <div class="modal-body">
                        <div class="img">
                            <div class="desc">
                                <p id="desc">@p.Descricao</p>
                            </div>

                            <img src="@formato"
                                 alt="" />
                        </div>

                        <div class="combo-container">
                            <div class="combo">
                                <span id="qtdDis">Dísponível <span id="disp">@p.Qtd</span></span>

                                <button class="mais">+</button>
                                <input type="number" id="qtd" min="0" />
                                <button class="menos">-</button>
                            </div>

                            <div class="preco">
                                <p>
                                    @p.Preco<br />
                                    <span id="preco"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carrinho">
                        <button class="car">Adicionar ao carrinho</button>
                    </div>
                </div>
            </div>

        }

      

        <footer>
            <p>Redes Sociais</p>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <div id="divider"></div>
            <p>Email</p>
            <p>bagaco.store@bagaco.com</p>
            <div id="divider"></div>
            <p>Telefone</p>
            <p>(19) 99173-3270</p>
        </footer>

        <script src="~/js/cliente.js"></script>
</body>
</html>


 